{% extends 'base.html' %}
{% block content %}

{% load static %}

<div id="about">
    <h1>About <span class="logo">NatureNotes</span></h1>

    <h3>Getting outdoors doesn't have to be a chore!</h3>
    <p>Our website is designed to make your camping experience more enjoyable and organized. Whether you're an avid camper or just starting out. </p>
    <p>NatureNotes offers a user-friendly platform to create and manage your personalized list of campsites completed with amenities and nearby hiking trails.</p>
    {% comment %} <p>That way, you can get outside on a whim and revisit your favorite places over and over without all the head-scratching of trying to remember where it was that you liked!</p> {% endcomment %}
</div>



<div class="corner-images">
  <div class="corner-image top-left">
    <img src="{% static 'images/jesse-gardner-wTVr4HR4SBI-unsplash.jpg' %}" alt="Orange tent with mountains" />
</div>
  <div class="corner-image top-right">
    <img src="{% static 'images/image2.jpg' %}" alt="Image 2">
  </div>
  <div class="corner-image bottom-left">
    <img src="{% static 'images/image3.jpg' %}" alt="" />

  </div>
  <div class="corner-image bottom-right">
    <img src="{% static 'images/image4.jpg' %}" alt="img4"/>
  </div>

</div>


{% endblock %}